body{
    font-family: 'Encode Sans', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid purple;
}
.container{
    width: 1250px;
}
header .container{
    display: flex;
    justify-content: center;
}
header .header-logo img{
    width: 100%;

}



nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid purple;
    margin-bottom: 20px;
}
nav .container .menu-desktop{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
nav .container .menu-desktop li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
}
.g1{
    color: #C3170C;
}
.oglobo{
    color: #1E4B9B;
}
.valor{
    color: #006766;
}
.ge{
    color: #07AA47;
}
.cartola{
    color: #E3662B;
}
.globoplay{
    color: #FB0735;
}
.dropz{
    color: #FF75BB;
}
.gshow{
    color: #EC7D00;
}
.quem{
    color: #323333;
}
.receitas{
    color: #A81D83;
}




body .container.main{
    margin: auto;
    display: flex;
    justify-content: center;
}
.left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.left-side main{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid purple;;
    margin-bottom: 25px;
}
.left-side .main-title{
    flex: 2;
    margin-bottom: 20px;
}
.left-side .main-title a{
    text-decoration: none;
}
.left-side .main-title h1{
    color: #C4160C;
    font-size: 52px;
    font-weight: bold;
    line-height: 67px;
    margin-bottom: 10px;
}
.left-side .sub-title{
    flex: 1;
    margin-bottom: 15px;
}
.sub-title a{
    text-decoration: none;
}
.sub-title a p{
    color: #303124;
    font-size: 18px;
    margin-bottom: 15px;
}
.left-side section{
    display: flex;
    flex-direction: column;
}
.left-side section .first-line--notices{
    border-bottom: 1px solid purple;;
    /* #F5F6F7 */
}
.left-side section .first-line--notices,
.left-side section .second-line--notices{
    display: flex;
    justify-content: space-between;
    
}
.left-side section .first-line--notices{
    margin-bottom: 50px;
}
.left-side section a{
    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 50px;
}
.left-side section a:last-child{
    margin-right: 0;
}
article{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 193px;
}
.article-first-desc,
.article-title,
.article-second-desc{
    width: 100%;
}
.article-img{
    width: 100%;
}
.article-img img{
    width: 100%;
    max-width: 193px;
    height: 110px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.article-first-desc{
    color: #C4170C;
    font-weight: 500;
    margin-bottom: 10px;
}
.article-title h2{
    color: #2F3134;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.article-second-desc p{
    color: #2F3134;
    font-weight: 400;
    font-size: 14px;

}


.right-side{
    flex: 1  ;
    display: flex;
    border-left:  1px solid purple;
    margin-left: 20px;
}
.right-side a{
    text-decoration: none;
}
.right-side article{
    width: 240px;
}
.right-side article img{
    max-width: 240px;
    height: 128px;
}
.right-side .article-first-desc{
    color: #16AE54;
}
.right-side--left{    
    border-right:  1px solid purple;
}
.right-side--left,
.right-side--right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right-side--right a{
    margin-bottom: 40px;
}